[submodule "vendor/lwext4_rust"]
	path = vendor/lwext4_rust
	url = https://github.com/elliott10/lwext4_rust.git
[submodule "vendor/bitmap-allocator"]
	path = vendor/bitmap-allocator
	url = https://github.com/rcore-os/bitmap-allocator.git